/* -------- START : Font Family -------- */
$font-primary: 'Montserrat',
sans-serif;
$font-seconday: 'Audiowide',
cursive;
/* -------- END : Font Family -------- */

/* -------- START : Font Size -------- */
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 21px;
$font-size-xl: 24px;
$font-size-2xl: 34px;
$font-size-3xl: 42px;
$font-size-4xl: 64px;
$font-size-5xl: 98px;
$font-size-6xl: 112px;
/* -------- END : Font Size -------- */