/* -------- START : Theme Colors -------- */
$theme-bg-shade-1: #202344;
$theme-bg-shade-2: #272c4c;
$theme-bg-shade-3: #353965;

$theme-primary: #E553d2;
$theme-secondary: #6266f6;

$theme-white: #ffffff;
/* -------- END : Theme Colors -------- */